{% extends "CSPlatformHandlingBundle::layout.html.twig" %}

{% block title %}  Rôles - {{parent()}} {% endblock %}

{% block breadcrumb_rest %}
        <li class="breadcrumb-item">Rôle</li>

        <li class="breadcrumb-item active"> <a href="{{ path('cs_platform_handling_services_roles_administrative_role_viewAll') }}"> Modification de rôle administratif </a></li>
      
{% endblock %}


{% block animated_fade_in %}
                   
                    {{ include("CSPlatformHandlingBundle:ServicesAndRoles:formAdministrativeRole.html.twig") }}
                   
                    <span class="spacer-down"> </span>
                    <!--/.row-->

{% endblock %}